[submodule "vendor/sleepy-discord"]
    path = vendor/sleepy-discord
    url = https://github.com/yourWaifu/sleepy-discord.git
[submodule "vendor/json"]
    path = vendor/json
    url = https://github.com/nlohmann/json.git
